
     
  *{
      box-sizing: border-box;
  }
  .hole{
      border-radius: 50%;
      width: 150px;
      height: 150px;
      border-style:dashed;
      /* background-color: rgb(59, 34, 14); */
      border-color: rgb(144, 98, 19);
  }
  .grid-container{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap:2em;
       background-image: url("https://i.imgur.com/FQg4lTE.jpg"); 
  }
  .mole{
      background-image:url("img/Mole.png");
      background-size:cover; 
  }
